repos:
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
    rev: v0.1.3
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        types: [python]
        language: system
        entry: uv run mypy --non-interactive --install-types cognite
        pass_filenames: false
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: debug-statements
      - id: trailing-whitespace
      - id: check-builtin-literals
      - id: end-of-file-fixer
        exclude: pluto-worker/sqlx-data.json
      - id: mixed-line-ending
        args: [--fix=lf]
