[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
twine = "*"
yolk3k = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
tox-pyenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
SecretStorage = "*"

[packages]
cognite-extractor-utils = {path = ".", editable = true}

[pipenv]
allow_prereleases = true
