[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
mypy = "*"
pytest-cov = "*"
yolk3k = "*"

[packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
