[tool.poetry]
name = "cognite-extractor-utils"
version = "3.2.0"
description = "Utilities for easier development of extractors for CDF"
authors = ["Mathias Lohne <mathias.lohne@cognite.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/cognitedata/python-extractor-utils"

packages = [
    { include="cognite", from="." },
]

[tool.black]
line-length = 120
target_version = ['py38']
include = '\.py$'

[tool.isort]
line_length=120                # corresponds to -w  flag
multi_line_output=3            # corresponds to -m  flag
include_trailing_comma=true    # corresponds to -tc flag
skip_glob = '^((?!py$).)*$'    # this makes sort all Python files
known_third_party = ["arrow", "dacite", "decorator", "dotenv", "more_itertools", "parameterized", "prometheus_client", "psutil", "pytest", "requests", "yaml"]

[tool.poetry.dependencies]
python = "^3.8.0"
cognite-sdk = "^4.9"
prometheus-client = ">0.7.0, <=1.0.0"
arrow = "^1.0.0"
pyyaml = ">=5.3.0, <7"
dacite = "^1.6.0"
psutil = "^5.7.0"
decorator = "^5.1.1"
more-itertools = "^8.12.0"
typing-extensions = ">=3.7.4, <5"
python-dotenv = "^0.19.2"
cognite-sdk-experimental = {version = "^0.101.0", optional = true}
jq = [{version = "^1.3.0", platform = "macos"}, {version = "^1.3.0", platform = "linux"}]

[tool.poetry.extras]
experimental = ["cognite-sdk-experimental"]

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py38
[testenv]
setenv =
    COGNITE_API_KEY={env:COGNITE_API_KEY}
    COGNITE_BASE_URL={env:COGNITE_BASE_URL}
    COGNITE_PROJECT={env:COGNITE_PROJECT}
deps =
    pytest
    pytest-cov
commands =
    coverage run --source cognite.extractorutils -m pytest -v tests
    coverage xml
"""

[tool.poetry.dev-dependencies]
black = "^19.10b0"
isort = "^4.3.21"
mypy = "*"
pytest = "^6.2.5"
pytest-cov = "^2.8.1"
sphinx = "^4.2.0"
sphinx-rtd-theme = "^1.0.0"
pre-commit = "^2.2.0"
SecretStorage = "^3.1.2"
twine = "^3.7.1"
pytest-order = "^1.0.1"
parameterized = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
